.ng-invalid.ng-touched {
    border-color:red ;
}

.row {
    padding: 30px;
	background: radial-gradient(rgb(245, 234, 225), rgb(255, 255, 255));
    margin-top: 20px;
    border-radius: 6px;
    box-shadow: 0 0 30px #0000002a;

}

