<div class="row">
    <header class = "header bg-bright" id = "header">
        <div class = "container">
            <div class = "header-content text-center">
                <img height="60px" width="200px" src = "assets/images/last.gif">
    <br><br>
                <h6 class = "text-uppercase text-blue-dark fs-14 fw-6 ls-1">Attijari Bank | Gestion des Stagiaires</h6><br>
                <p class = "text-dark fs-18">Bienvenue a la liste des Stagiaires</p>
            </div>
        </div>
    </header>
    
</div>

