
.row{
    margin-top: 20px;
}
.header{
    min-height: calc(95vh - 75px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	background: radial-gradient(rgb(246, 232, 219), rgb(245, 241, 241));
    border-radius: 6px;
    box-shadow: 0 0 30px #0000002a;

}
.header-content{
    max-width: 740px;
    margin-right: auto;
    margin-left: auto;
}
.header-content img{
    max-width: 760px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    margin-top: 3.2rem;
}
.lg-title{
    margin: 1.4rem 0;
    font-size: 37px;
    line-height: 1.4;
    color: var(--clr-dark);
}
.header-content p{

    line-height: 1.6;
    font-weight: 600;
}
